<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cycle Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <style>
        html {
            box-sizing: border-box;
        }
        *, *:before, *:after {
            box-sizing: inherit;
        }
        body {
            margin: 0;
            font-family: "Inter", sans-serif;
            background-color: #c4d6ff;
        }

        .tall-container {
            width: 480px;
            height: 800px;
        }
        .good-bg {
            background-color: #1dad23;
        }
        .bad-bg {
            background-color: #ce2424;
        }
        .text-outline {
        text-shadow:
            -1px -1px 0 #000,  
            1px -1px 0 #000,
            -1px  1px 0 #000,
            1px  1px 0 #000;
        }
        .maybe-bg {
            background-color: #1e1eae;
        }
        .weather-icon {
            width: 80px;
            height: 80px;
        }
    </style>
</head>
<body class="flex min-h-screen">

    <div class="tall-container flex flex-col {{overall_conditions}}-bg">
        <div class="flex flex-col p-6 gap-6">
        <div class="">
             <h1 class="text-5xl font-semibold text-center text-white">
                {{date_title}}
            </h1>
        </div>
        <div class="flex flex-row gap-4">{% for forecast in forecasts %}
            <div class="flex-1 relative bg-white rounded-xl flex flex-col justify-center items-center p-4 text-black shadow-md h-48">
                <div class="flex flex-col items-center">
                    <div class="flex flex-row items-center justify-center gap-2">
                        <div class="flex-shrink-0">
                            <img src="{{forecast.image_url}}" alt="Weather Icon" class="rounded-md weather-icon" onerror="this.onerror=null;this.src='https://placehold.co/80x80/FFFFFF/333333?text=Icon';">
                        </div>
                        <div>
                            <p class="text-4xl font-semibold">{{forecast.temperature}}°</p>
                        </div>
                    </div>
                    <div class="flex flex-row gap-4">
                        <div class="flex items-center gap-1">
                            <img src="icons/wind.svg" class="w-5 h-5 rotate-[{{forecast.wind_rotation}}deg]">
                            <p class="text-lg">{{forecast.wind}}</p>
                        </div>
                        <div class="flex items-center gap-1">
                            <img src="icons/umbrella.svg" class="w-5 h-5">
                            <p class="text-lg">{{forecast.precip}}</p>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="text-xl text-center">{{forecast.summary}}</p>
                    </div>
                </div>
                <h2 class="absolute top-3 left-4 text-sm font-semibold text-gray-500">{{forecast.time}}</h2>
            </div>
            {% endfor %}
        </div>

        <div class="flex flex-col flex-grow justify-between gap-4">
            <div>
                <div class="p-4 bg-white rounded-lg shadow-md">
                    {% if not today_events %}
                    <p class="text-gray-600 text-xl text-center italic">No events today</p>
                    {% endif %}
                    <ul class="text-black text-3xl space-y-2">
                        {% for event in today_events %}
                        <li class="flex items-baseline">
                            <span class="w-2/5 text-right pr-4 font-semibold">{{event[0]}}</span>
                            <span class="w-3/5 text-left block overflow-hidden whitespace-nowrap text-ellipsis">{{event[1]}}</span>
                        </li>
                        {% endfor %}
                    </ul>
                    <hr class="border-black my-4">
                    <ul class="text-black text-xl space-y-2">
                        {% for event in future_events %}
                        <li class="flex items-baseline">
                            <span class="w-2/5 text-right pr-4 font-semibold">{{event[0]}}</span>
                            <span class="w-3/5 text-left block overflow-hidden whitespace-nowrap text-ellipsis">{{event[1]}}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>
